* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
  }
:root {
    --go-font-family: "Open Sans", sans-serif;
    --go-font-regular: 300;
    --go-font-medium: 400;
    --go-font-semibold: 600;
    --go-font-bold: 700;
  
    --go-background: #2A2A2A;
    --go-text: #fff;
    --go-border: none;
  
    --go-loading-background: #2A2A2A;
    --go-loading-color: #000000;
  
    --go-titulo-font: "Open Sans", sans-serif;
    --go-titulo-font-size: 27px;
    --go-titulo-font-weight: 600;
    --go-titulo-font-color: #fff;
    --go-titulo-barra-color: #000000;
  
    --go-titulo-descricao-font: "Open Sans", sans-serif;
    --go-titulo-descricao-font-size: 16px;
    --go-titulo-descricao-font-weight: 300;
    --go-titulo-descricao-font-color: #fff;
    --go-titulo-descricao-subtitle-font-size: 14px;
    --go-titulo-descricao-font-subtitle-color: #fff;
  
    --go-input-font: "Open Sans", sans-serif;
    --go-input-font-size: 16px;
    --go-input-background: #fff;
    --go-input-label: #fff;
    --go-input-text: #1a1a1a;
    --go-input-icon: #1a1a1a;
    --go-input-border: #ced4da;
    --go-input-border-radius: 0;
  
    --go-button-font: "Open Sans", sans-serif;
    --go-button-font-size: 14px;
    --go-button-font-weight: 700;
    --go-button-background: #000000;
    --go-button-text: #ffffff;
    --go-button-icon: #ffffff;
    --go-button-border: transparent;
    --go-button-border-radius: 0;
    --go-button-text-transform: uppercase;
  
    --go-reserva-background: #ffffff;
    --go-reserva-title: #2b2b2b;
    --go-reserva-title-icon: #2b2b2b;
    --go-reserva-text: #1a1a1a;
    --go-reserva-subtext: #000000;
    --go-reserva-text2: #2b2b2b;
    --go-reserva-icon: #000000;
    --go-reserva-next: #2b2b2b;
    --go-reserva-border: none;
    --go-reserva-border-radius: 0;
    --go-reserva-price-of: #606060;
  
    --go-calendario-font: "Open Sans", sans-serif;
    --go-calendario-background: #fff;
    --go-calendario-border: #fff;
    --go-calendario-text: #1a1a1a;
    --go-calendario-text-disabled: #666666;
    --go-calendario-semana-background: #000000;
    --go-calendario-semana-color: #fff;
    --go-calendario-icon: #000000;
    --go-calendario-icon-disabled: #666666;
    --go-calendario-selected-background: #000000;
    --go-calendario-selected-text: #fff;
    --go-calendario-separate: none;
    --go-calendario-seta: #888888;
    --go-calendario-seta-disabled: rgba(80, 80, 80, 0.5);
  
    --go-tab-background: #2A2A2A;
    --go-tab-border: #fff;
    --go-tab-text: #b2b2b2;
    --go-tab-icon: #b2b2b2;
    --go-tab-selected-background: #ffffff;
    --go-tab-selected-text: #000000;
    --go-tab-selected-icon: #000000;
  
    --go-descricao-font: "Open Sans", sans-serif;
    --go-descricao-font-size: 14px;
    --go-descricao-font-weight: 400;
    --go-descricao-font-color: #fff;
  
    --go-modal-color: rgba(16, 16, 16, 1);
    --go-modal-background: rgba(0, 0, 0, 0.2);
    --go-modal-border: none;
    --go-modal-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
    --go-modal-header-bg: #000000;
    --go-modal-header-font: "Open Sans", sans-serif;
    --go-modal-header-font-size: 26px;
    --go-modal-header-font-weight: 700;
    --go-modal-header-font-color: #fff;
    --go-modal-body-font: "Open Sans", sans-serif;
    --go-modal-body-font-size: 18px;
    --go-modal-body-font-weight: 300;
    --go-modal-body-font-color: #2b2b2b;
    --go-modal-separador: none;
    --go-modal-button-font: "Open Sans", sans-serif;
    --go-modal-button-font-color: #fff;
    --go-modal-button-font-size: 22px;
    --go-modal-button-font-weight: 700;
    --go-modal-button-background: #000000;
    --go-modal-button-border: none;
    --go-modal-button-border-radius: 0;
  
    --go-tarja-campanha-background: #f72c4b;
    --go-tarja-campanha-color: #fff;
    --go-tarja-campanha-separador-background: #fff;
  
    --go-indisponivel-border: 1px solid #ffffff;
    --go-indisponivel-font-family: "Open Sans", sans-serif;
    --go-indisponivel-font-medium: 400;
    --go-indisponivel-font-size: 16px;
    --go-indisponivel-font-color: #ffffff;
  
    --go-input-disabled-opacity: 0.4;
    --go-input-disabled-font: "Open Sans", sans-serif;
    --go-input-disabled-background: #fff;
    --go-input-disabled-icon: #777777;
    --go-input-disabled-border: 1px solid #d8d8d8;
    --go-qtd-disponivel-background: #000000;
    --go-qtd-disponivel-font-color: #fff;
    --go-qtd-disponivel-icon: #fff;
  
    --go-imediatas-color: #2b2b2b;
    --go-imediatas-size: 20px;
    --go-imediatas-weight: 600;
  
    /* TABS DESKTOP */
    --go-retab-inativo-background: #f0f0f0;
    --go-retab-inativa-font: #383838;
    --go-retab-ativo-background: #2A2A2A;
    --go-retab-ativo-font: #fff;
    --go-retab-ativo-border-color: #000000;
  
    /* IR SEM RESERVA */
    --go-nota-background: #000000;
    --go-nota-font-color: #fff;
    --go-semReserva-color: #fff;
    --go-semReserva-botao: #000000;
    --go-semReserva-input: #fff;
    --go-semReserva-input-border: #ced4da;
    --go-semReserva-input-color: #000;
    --go-semReserva-table: #464646;
    --go-semReserva-table-color: #fff;
    --go-semReserva-table-border: #2A2A2A;
  }
  .suites-availability-go {
    background: var(--go-background);
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
  }
  .itemComponentActive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .itemComponentInative {
    display: none;
  }
  .itemComponentInative,
  .itemComponentActive {
    background: var(--go-background);
    padding: 25px;
  }
  
  /* TABS */
  .suites-availability-go .go-tabs {
    border: none;
    margin: 0;
    padding: 0;
    background-color: var(--go-retab-inativo-background);
  }
  .go-tabs-programadas,
  .go-tabs-imediatas {
    font-size: 16px !important;
    color: var(--go-retab-inativa-font) !important;
  }
  .go-tabs .go-tabs-selecionada {
    height: 56px;
    margin-top: -8px;
    color: var(--go-retab-ativo-font) !important;
    background: var(--go-retab-ativo-background);
  }
  .go-tabs-selecionada[type="RESERVAS"] ~ .go-tabs-programadas,
  .go-tabs-selecionada[type="CALENDARIO"] ~ .go-tabs-imediatas {
    font-size: 16px;
    font-weight: var(--go-font-bold);
    color: var(--go-retab-ativo-font) !important;
    text-decoration: underline var(--go-retab-ativo-border-color);
    -webkit-text-decoration: underline var(--go-retab-ativo-border-color);
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip-ink: auto;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
  }
  /* FIM TABS */
  
  /* IR SEM RESERVAR */
  .itemComponentActive .preco-calendario{
    padding: 0;
  }
  .preco-calendario {
    width: 60% !important;
    margin: 0 auto;
    padding: 25px;
    font-family: var(--go-font-family) !important;
  }
  .preco-calendario strong {
    font-weight: var(--go-font-bold);
  }
  .compo-aviso-preco {
    background-color: var(--go-nota-background);
    color: var(--go-nota-font-color);
    padding: 8px 24px;
    margin-bottom: 23px;
    text-align: center;
    font-size: 14px;
    font-weight: var(--go-font-regular);
    line-height: 19px;
  }
  .compo-aviso-recepcao,
  .compo-aviso-garantia {
    font-family: var(--go-font-family);
    color: var(--go-semReserva-color);
    margin-bottom: 15px;
  }
  .compo-aviso-recepcao {
    font-size: 16px;
    font-weight: var(--go-font-medium);
    line-height: 21px;
  }
  .compo-aviso-garantia {
    font-size: 14px;
    font-weight: var(--go-font-regular);
    line-height: 19px;
  }
  .compo-aviso-garantia::before {
    content: ">> ";
  }
  .compo-aviso-garantia::after {
    content: " <<";
  }
  .compo-aviso-botao {
    background: var(--go-semReserva-botao);
    color: var(--go-semReserva-color);
    font-size: 11px;
    font-family: var(--go-font-family);
    font-weight: var(--go-font-semibold);
    line-height: 15px;
    padding: 4px 8px;
    margin-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
  }
  .compo-box-calendario {
    position: relative;
    width: 100% !important;
    background-color: var(--go-semReserva-input) !important;
    border: 1px solid var(--go-semReserva-input-border);
    color: var(--go-semReserva-input-color) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 11px !important;
    margin: 0 0 32px !important;
    cursor: pointer;
  }
  .compo-box-calendario span {
    font-size: 16px;
    font-weight: var(--go-font-regular);
    font-family: var(--go-font-family);
    line-height: normal;
  }
  #tblCalendarioPeriodosPernoites {
    width: 100%;
    background-color: var(--go-semReserva-table);
  }
  .tblGmClnd tr {
    border-bottom: 4px solid var(--go-semReserva-table-border) !important;
  }
  .tblGmClnd tr:last-of-type {
    border-bottom: none;
  }
  #tblCalendarioPeriodosPernoites td {
    text-align: left;
    padding: 9px 16px;
    color: var(--go-semReserva-table-color);
    font-size: 16px;
    font-weight: var(--go-font-medium);
    font-family: var(--go-font-family);
  }
  #tblCalendarioPeriodosPernoites td:last-child {
    text-align: right;
    font-weight: var(--go-font-bold);
  }
  .go-programadas-calendario {
    position: absolute;
    z-index: 1;
    margin-top: -30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    background: var(--go-calendario-background);
    color: var(--go-calendario-text);
    font-family: var(--go-calendario-font);
  }
  .DayPicker .DayPicker-Months > div {
    margin-right: 0 !important;
  }
  .go-programadas-calendario .DayPicker-Month {
    width: 250px;
    margin-left: 0;
    font-size: 14px !important;
  }
  .go-programadas-calendario .DayPicker-Month div {
    margin-left: 0;
  }
  .DayPicker .DayPicker-Months > div + div {
    margin-left: 15px;
  }
  .go-programadas-calendario .DayPicker-Caption {
    text-align: center;
  }
  .DayPicker-Caption > div {
    font-weight: var(--go-font-bold) !important;
    font-family: var(--go-calendario-font);
  }
  .DayPicker-Weekdays,
  .suites-availability-go .DayPicker-Weekday {
    background-color: var(--go-calendario-semana-background);
    color: var(--go-calendario-semana-color);
    font-family: var(--go-calendario-font);
  }
  .go-programadas-calendario-full-semanas-item {
    color: var(--go-calendario-semana-color) !important;
    font-family: var(--go-calendario-font);
  }
  .DayPicker-Day--disabled {
    opacity: 0.5;
    color: var(--go-calendario-text-disabled);
  }
  .DayPicker-Day--disabled.DayPicker-Day:hover {
    opacity: 0.5;
    background: transparent !important;
    color: var(--go-calendario-text-disabled) !important;
  }
  .DayPicker-Day--today,
  .DayPicker .DayPicker-Day--selected,
  .DayPicker-Day:hover {
    background: var(--go-calendario-selected-background) !important;
    color: var(--go-calendario-selected-text) !important;
    border-radius: 0 !important;
  }
  .DayPicker-Day:hover {
    opacity: 0.7;
  }
  .DayPicker-Day.DayPicker-Day--today {
    border-radius: 0 !important;
    color: var(--go-calendario-selected-text) !important;
  }
  /* FIM IR SEM RESAERVAR */
  
  /* RESERVAR SUÃƒÂTE */
  .go-header {
    width: auto;
    margin: 0 5% 0 0 !important;
  }
  .go-header-title {
    width: 90%;
    line-height: 36.77px;
  }
  .go-header-title::after {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    margin-top: 10px;
    background: var(--go-titulo-barra-color);
  }
  .go-header-subdescription {
    font-weight: var(--go-descricao-font-weight);
  }
  .go-programadas {
    width: 100%;
  }
  .go-programadas-filtros-periodo-input,
  .go-programadas-listagem-item-entrada-saida-input,
  .go-programadas-dropdown {
    border-radius: var(--go-input-border-radius);
  }
  .go-programadas-filtros-periodo-titulo,
  .go-programadas-listagem-item-entrada-saida-titulo {
    font-size: var(--go-input-font-size);
    font-weight: var(--go-font-bold);
  }
  .go-programadas-filtros-periodo-input p,
  .go-programadas-listagem-item-entrada-saida-input p,
  .go-programadas-dropdown p,
  .go-programadas-filtros-periodo-select-item {
    font-size: 16px;
    font-weight: var(--go-font-regular);
    color: var(--go-input-text);
    margin: 0;
  }
  .go-programadas-dropdown-select {
    padding: 0;
    margin: 0;
  }
  .go-programadas-filtros-checkout[hidden] {
    display: flex !important;
  }
  .go-programadas-filtros-buscar button {
    box-shadow: 0px 3px 11px 4px rgba(0, 0, 0, 0.08);
    border-radius: var(--go-button-border-radius);
    font-size: var(--go-button-font-size);
    font-weight: var(--go-button-font-weight);
    text-transform: var(--go-button-text-transform);
  }
  .go-programadas-listagem {
    padding: 25px 0 !important;
  }
  .go-programadas-listagem-item {
    border-radius: var(--go-reserva-border-radius);
    font-family: var(--go-font-family);
  }
  .go-programadas-listagem-item-titulo {
    font-weight: var(--go-font-semibold) !important;
    font-size: 22px !important;
    font-family: var(--go-font-family);
  }
  .go-programadas-listagem-item-titulo svg {
    fill: var(--go-reserva-title-icon) !important;
  }
  .go-programadas-listagem-item-parcelas {
    margin-top: 0;
    font-size: 14px;
    font-weight: var(--go-font-regular);
    font-family: var(--go-font-family);
  }
  .go-programadas-listagem-item-entrada-saida,
  .go-programadas-listagem-item-cortesia {
    margin-top: 15px;
    font-size: 14px;
    color: var(--go-reserva-text2);
    font-family: var(--go-font-family);
  }
  /* FIM RESERVAR SUÃƒÂTE */
  
  /* MODAL */
  #alert-default-go.modal.moda-custom-go.show {
    display: block !important;
  }
  #alert-default-go.modal.moda-custom-go,
  .moda-custom-go .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
  .modal-content {
    padding: 0 !important;
  }
  #alert-default-go.modal.moda-custom-go .modal-header {
    background-color: var(--go-modal-header-bg);
    color: var(--go-modal-header-font-color);
    padding: 17px;
  }
  #alert-default-go.modal.moda-custom-go .modal-header .modal-title {
    text-transform: uppercase;
    letter-spacing: normal;
  }
  #alert-default-go.modal.moda-custom-go .modal-body {
    padding: 31px 24px 26px;
    text-align: center;
  }
  #alert-default-go.modal.moda-custom-go .modal-footer {
    padding: 0 24px 20px;
  }
  #alert-default-go.modal.moda-custom-go .btn-modal-go-normal {
    border-radius: var(--go-modal-button-border-radius);
    margin: 0;
    padding: 10px;
  }
  /* FIM MODAL */
  
  /* MOBILE */
  @media screen and (max-width: 768px) {
    .itemComponentInative,
    .itemComponentActive {
      padding: 24px 20px;
    }
    .itemComponentActive {
      flex-direction: column;
    }
    /* SEM RESERVA */
    .itemComponentActive .preco-calendario {
      width: 100% !important;
      padding: 0;
    }
    .preco-calendario{
      width: 100% !important;
      padding: 25px 20px;
    }
    .compo-aviso-preco {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
    /* FIM SEM RESERVA */
  
    /* RESERVAR SUÃƒÂTE */
    .go-header {
      width: 100%;
      margin: 20px 0 !important;
      padding: 0;
      text-align: center;
    }
    .go-header-title::after {
      display: none;
    }
    .go-header-title {
      width: 100%;
    }
    .itemComponentActive .go-tabs {
      background-color: var(--go-tab-background) !important;
      border-radius: 0;
      border: 1px solid var(--go-tab-border) !important;
      padding: 3px !important;
      margin-bottom: 24px !important;
    }
    .itemComponentActive .go-tabs .go-tabs-selecionada {
      height: 100%;
      color: var(--go-tab-selected-text) !important;
      background: var(--go-tab-selected-background);
      border-radius: 0;
      margin: 0;
    }
    .itemComponentActive .go-tabs-programadas,
    .itemComponentActive .go-tabs-imediatas {
      color: var(--go-tab-text) !important;
    }
    .itemComponentActive
      .go-tabs-selecionada[type="IMEDIATAS"]
      ~ .go-tabs-imediatas,
    .itemComponentActive
      .go-tabs-selecionada[type="PROGRAMADAS"]
      ~ .go-tabs-programadas {
      color: var(--go-tab-selected-text) !important;
    }
    .go-programadas-descricao {
      margin: 0 0 30px !important;
    }
    .sem-resultado .go-programadas-descricao {
      margin: 16px 16px 30px !important;
    }
    .go-programadas-wrapper {
      padding: 0 !important;
    }
    .go-programadas-filtros-checkin,
    .go-programadas-filtros-checkout {
      width: 100%;
    }
    .go-programadas-filtros-checkout {
      margin-top: 10px;
    }
    .go-programadas-filtros-data {
      flex-direction: column;
    }
    .go-programadas-filtros-buscar {
      margin-top: calc(45px - 24px);
    }
    .go-programadas-filtros-checkout[hidden] {
      display: none !important;
    }
    .go-programadas-listagem {
      padding-bottom: 0;
    }
    .go-imediatas-descriao {
      margin: 0 0 30px;
    }
    .go-imediatas-listagem-item {
      border-radius: 0;
      padding: 13px 18px;
    }
  
    .go-imediatas-listagem-item p {
      color: var(--go-imediatas-color);
      font-size: var(--go-imediatas-size);
      font-weight: var(--go-imediatas-weight);
      line-height: 27.24px;
      margin: 0;
    }
  
    /* FIM RESERVAR SUÃƒÂTE */
  }
  